.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  position: relative;
  background-color: #0D0F12;

overflow-y: hidden;
}


.hero-content {
    display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.hero-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4rem;
  font-weight: 600;
display: flex;
justify-content: space-evenly;

  color: #E6EDF3;
  line-height: 1.5;
  margin-top:20px;
  margin-bottom: 14px;
}

.hero-sub {
  font-size: 1.2rem;
  color: #8B949E;
  margin-top: 16px;
}
.hero-buttons {
  display: flex;
  gap: 23px;
  margin-top: 24px;
  align-items: center;
 justify-content: center;
}

.Joinbtn,
.Startbtn {
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Space Grotesk', sans-serif;
  border-radius: 8px;
  cursor: pointer;
}

.Joinbtn {
  background-color: #6C63FF;
  color: #E6EDF3;
  border: none;
}

.Joinbtn:hover {
  background-color: #857DFF;
}
.Joinbtn:active {
  transform: scale(0.98);
   background-color: #6C63FF;
}
.Startbtn {
  background-color: transparent;
  color: #E6EDF3;
  border: 1px solid #6C63FF;
}
.Startbtn:active {
  transform: scale(0.98);
    background-color: transparent;
}

.Startbtn:hover {
  background-color: #161B22;
}