html, body {
  margin: 0;
  padding: 0;
  background-color:#0a0b10; 
    background: radial-gradient(circle at center, #17192b 0%, #090a0f 70%);
  color: #ffffff;          
  min-height: 100vh;
 font-family: "Space Grotesk", sans-serif;  
}